Repository bbhunter/deadfinder, changes with the labels that .github/labeler.yml gives for each.
All labels: config, dependencies, workflow, github-action, docker, code

.github/labeler.yml:

---
config:
  - changed-files:
      - any-glob-to-any-file: [deadfinder.gemspec, ruby-version, .rubocop.yml]
dependencies:
  - changed-files:
      - any-glob-to-any-file: [Gemfile, Gemfile.lock, deadfinder.gemspec]
workflow:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**, .github/labeler.yml]
github-action:
  - changed-files:
      - any-glob-to-any-file: [github-action/**, action.yml]
docker:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - .github/workflows/docker-ghcr.yml
          - github-action/Dockerfile
code:
  - changed-files:
      - any-glob-to-any-file: [lib/**, bin/**, spec/**]

ci(release-apk): rename apk artifact to include arch
  .github/workflows/release-apk.yml
Labels: workflow

update
  .github/workflows/publish-snapcraft.yml
Labels: workflow

fix(release): bundle Homebrew dylibs in macOS release tarballs
  .github/workflows/crystal-release.yml
  scripts/package-macos.sh
Labels: workflow

docs(changelog): note portable macOS release tarballs
  CHANGELOG.md
Labels: none

ci: add Crystal 1.21.0 to test matrix
  .github/workflows/ci.yml
Labels: workflow

docs: fix inaccurate descriptions across the site (#270)
  docs/content/docs/getting-started/installation.md
  docs/content/docs/getting-started/quickstart.md
  docs/content/docs/integration/_index.md
  docs/content/docs/integration/docker.md
  docs/content/docs/integration/github-action.md
  docs/content/docs/reference/cli-flags.md
  docs/content/docs/usage/filtering.md
  docs/content/docs/usage/subcommands.md
  docs/content/index.md
Labels: none

fix(release): re-sign macOS tarballs after install_name_tool (#271)
  scripts/package-macos.sh
Labels: none

docs(changelog): record the macOS re-signing fix (#272)
  CHANGELOG.md
Labels: none

feat: close the functional gaps — CI exit codes, media links, target parallelism, HEAD-first checks (#273)
  AGENTS.md
  CHANGELOG.md
  README.md
  action.yml
  docs/content/docs/integration/github-action.md
  docs/content/docs/reference/cli-flags.md
  docs/content/docs/usage/filtering.md
  spec/compat/fixtures/server.rb
  spec/deadfinder/cli_spec.cr
  spec/deadfinder/completion_spec.cr
  spec/deadfinder/logger_spec.cr
  spec/deadfinder/reporting_spec.cr
  spec/deadfinder/request_layer_spec.cr
  spec/deadfinder/runner_spec.cr
  spec/deadfinder_spec.cr
  spec/spec_helper.cr
  src/deadfinder.cr
  src/deadfinder/cli.cr
  src/deadfinder/completion.cr
  src/deadfinder/http_client.cr
  src/deadfinder/logger.cr
  src/deadfinder/runner.cr
  src/deadfinder/types.cr
Labels: github-action, code
